{% extends 'base.html' %}

{% block content %}


<h1>Приветствую вас на сайте Songbook!</h1>
<br>
Здесь вы можете свободно скачивать ноты любых найденных песен,а так же загружать свои транскрипции.
<br>
На данный момент уже насчитывается {{ count }} аранжиров{{ word }}!
<hr>
По любым вопросам и предложениям со мной можно связаться по электронной почте: <a href="mailto:albertuno@mail.ru?subject=Songbook">albertuno@mail.ru</a>
<br>
А так же в социальных сетях: <a href="https://vk.com/id185139560" target="_blank">vk.com</a>


{% endblock %}